@using FamilyActivity.WebMvc.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<FamilyActivity.WebMvc.Models.ViewActivityDays>

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Home Page";
}

<h5>Activity days</h5>

<p>
    <a asp-action="Create">Create New</a>
</p>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("GetAll",new { page }))

<div class="container-fluid padding">
    <div class="row">
        <div class="row padding">
            <div class="d-flex flex-row flex-nowrap">
            @foreach (var item in Model)
            {
            <div class="row-md-12 col-xs-3 border-primary mb-3">
                <div class="card card-body flex-fill h-100" style="max-width: 340px;" >
                    <div class="row g-0">
                        <div class="row-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.Name.ToUpper()
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="card-img-top" src="@item.Picture" alt="@item.Picture"
                            style="object-fit:scale-down;
                                width:80%;
                                height:auto;
                                border: solid 1px #CCC"
                            >
                        </div>
                        <div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Description: @item.Description</li>
                                    <li class="list-group-item">@item.StartTime.ToString() - @item.EndTime.ToString()</li>
                                    <li class="list-group-item">Day of week: @item.DayOfWeek.ToString()</li>
                                </ul>
                                <p class="card-text ">
                                    <b>Status: </b>
                                    @if (DateTime.Now.TimeOfDay >= item.StartTime && DateTime.Now.TimeOfDay <= item.EndTime)
                                    {
                                        <span class="badge bg-success text-white">AVAILABLE</span>
                                    }
                                    else if (DateTime.Now.TimeOfDay > item.EndTime)
                                    {
                                        <span class="badge bg-danger text-white">EXPIRED</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary text-white">UPCOMING</span>
                                    }
                                </p>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id"
                                            asp-controller="ActivityDay"
                                            asp-action="Details"
                                            asp-route-id="@item.Id"
                                    >
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                    <a class="btn btn-success text-white @((DateTime.Now.TimeOfDay > item.EndTime) ? "enabled" : "")"
                                asp-controller="ActivityDay"
                                asp-action="Edit"
                                asp-route-id="@item.Id">
                                        <i class="bi bi-cart-plus"></i> Edit
                                    </a>

                                    <a class="btn btn-danger"
                                asp-controller="ActivityDay"
                                asp-action="Delete"
                                asp-route-id="@item.Id">
                                        <i class="bi bi-cart-plus"></i> Delete
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            </div>
        </div>
    </div>
</div>
